<div class="home">
    <h1>Welcome to AcadSphere</h1>
    <p>Manage your Students data with AcadSphere!</p>
    <div class="features">
        <h2>Key Features:</h2>
        <ul>
          <li><strong>Create:</strong> Add new students to the system by providing their details such as name, gender, course, and roll number.</li>
          <li><strong>Read:</strong> View the list of all students along with their information, including student ID, name, gender, course, and roll number.</li>
          <li><strong>Update:</strong> Edit and update the information of existing students, such as their name, gender, etc.</li>
          <li><strong>Delete:</strong> Remove students from the system, permanently deleting their records.</li>
        </ul>
      </div>
    
  </div> 
  