<form [formGroup]="studForm1" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name" />
    <div
      *ngIf="
        studForm1.get('name')?.invalid &&
        (studForm1.get('name')?.dirty || studForm1.get('name')?.touched)
      "
      class="error-message"
    >
      <div
        *ngIf="studForm1.get('name')?.hasError('required')"
        class="error-text"
      >
        Name is required.
      </div>
      <div
        *ngIf="
          studForm1.get('name')?.hasError('minlength') &&
          (studForm1.get('name')?.dirty || studForm1.get('name')?.touched)
        "
        class="error-text"
      >
        Name should have a minimum length of 3 characters.
      </div>
    </div>
  </div>

  <div>
    <label for="dob">Date of Birth:</label>
    <input type="date" id="dob" formControlName="dob" />
    <div
      *ngIf="
        studForm1.get('dob')?.invalid &&
        (studForm1.get('dob')?.dirty || studForm1.get('dob')?.touched)
      "
      class="error-message"
    >
      <div *ngIf="studForm1.get('dob')?.hasError('required')" class="error-text">
        Date of Birth is required.
      </div>
    </div>
  </div>

  <div>
    <label for="gender">Gender:</label>
    <select id="gender" formControlName="gender">
      <option value="M">Male</option>
      <option value="F">Female</option>
      <option value="O">Other</option>
    </select>
    <div
      *ngIf="
        studForm1.get('gender')?.invalid &&
        (studForm1.get('gender')?.dirty || studForm1.get('gender')?.touched)
      "
      class="error-message"
    >
      <div
        *ngIf="studForm1.get('gender')?.hasError('required')"
        class="error-text"
      >
        Gender is required.
      </div>
    </div>
  </div>

  <div>
    <label for="per12">Percentage in 12th:</label>
    <input type="number" id="per12" formControlName="per12" />
    <div
      *ngIf="
        studForm1.get('per12')?.invalid &&
        (studForm1.get('per12')?.dirty || studForm1.get('per12')?.touched)
      "
      class="error-message"
    >
      <div
        *ngIf="studForm1.get('per12')?.hasError('required')"
        class="error-text"
      >
        Percentage in 12th is required.
      </div>
      <div
        *ngIf="
          studForm1.get('per12')?.hasError('min') &&
          (studForm1.get('per12')?.dirty || studForm1.get('per12')?.touched)
        "
        class="error-text"
      >
        Percentage in 12th should be greater than or equal to 0.
      </div>
      <div
        *ngIf="
          studForm1.get('per12')?.hasError('max') &&
          (studForm1.get('per12')?.dirty || studForm1.get('per12')?.touched)
        "
        class="error-text"
      >
        Percentage in 12th should be less than or equal to 100.
      </div>
    </div>
  </div>

  <div>
    <label for="add">Address:</label>
    <textarea id="add" formControlName="add"></textarea>
    <div
      *ngIf="
        studForm1.get('add')?.invalid &&
        (studForm1.get('add')?.dirty || studForm1.get('add')?.touched)
      "
      class="error-message"
    >
      <div *ngIf="studForm1.get('add')?.hasError('required')" class="error-text">
        Address is required.
      </div>
    </div>
  </div>

  <div class="right">
    <label>Course: </label>&nbsp;<span>{{ this.service.courseData.cname }}</span>
    <br />
    <label>Div: </label>
    {{ this.service.studData.div }}
    <br />
    <label>Sem: </label>
    {{ this.service.studData.sem }}
    <br />
    <label>R.No. : </label>
    {{ this.service.studData.rno }}
    <br />
  </div>
  <button *ngIf="studForm1.valid" type="submit">Submit</button>
</form>
