<div >
<div class="one">
  <label>Sid: </label>&nbsp;&nbsp;<span>{{ s.sid }}</span> <br /><br />
  <label>Name: </label>&nbsp;<span>{{ s.name }}</span> <br /><br />
  <label>DOB: </label>&nbsp;<span>{{ s.dob }}</span> <br /><br />
  <label>Gender: </label>&nbsp;<span>{{ s.gender }}</span> <br /><br />
  <label>Course: </label>&nbsp;<span>{{ c.cname }}</span> <br /><br />
</div>
<div class="two">
  <label>Reg No.: </label>&nbsp;<span>{{ s.rno }}</span> <br /><br />
  <label>Div: </label>&nbsp;<span>{{ s.div }}</span> <br /><br />
  <label>Sem: </label>&nbsp;<span>{{ s.sem }}</span> <br /><br />
  <label>12th Percentange: </label>&nbsp;<span>{{ s.per12 }}</span> <br /><br />
  <label>Address</label>&nbsp;<span>{{ s.add }}</span> <br /><br />
</div>
</div>
